{:paths
 ["src/cljs" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.2-alpha1"}
  reagent {:mvn/version "0.10.0"}
  re-frame {:mvn/version "0.12.0"}
  day8.re-frame/http-fx {:mvn/version "v0.2.0"}
  org.clojure/data.csv {:mvn/version "1.0.0"}
  org.clojure/data.json {:mvn/version "1.0.0"}
  cheshire {:mvn/version "5.10.0"}
  clj-time {:mvn/version "0.15.2"}}
 :aliases
 {:main
  {:main-opts ["-m" "demo.crawler"]
   :extra-paths ["src/clj"]}
  :repl
  {:extra-paths ["src/clj" "dev/clj"]
   :extra-deps
   {cider/piggieback {:mvn/version "0.4.2"}
    binaryage/devtools {:mvn/version "1.0.0"}
    org.clojure/tools.namespace {:mvn/version "1.0.0"}}}
  :shadow-cljs
  {:extra-paths ["dev"]
   :extra-deps
   {binaryage/devtools {:mvn/version "1.0.0"}
    thheller/shadow-cljs {:mvn/version "2.10.13"}
    day8.re-frame/tracing {:mvn/version  "0.5.3"}
    cider/cider-nrepl {:mvn/version "0.25.3-SNAPSHOT"}}}
  :release
  {:extra-deps
   {day8.re-frame/tracing-stubs {:mvn/version "0.5.3"}}}
  :uberjar {:extra-paths ["src/clj"]
            :extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
            :main-opts ["-m" "hf.depstar.uberjar" "crawler.jar"
                        "-C" "-m" "demo.crawler"]}}}
