{:deps true

 :nrepl {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [frontend.core]}}

        :devtools
        {:before-load frontend.core/stop
         :after-load frontend.core/start
         :http-root    "public"
         :http-port    3000
         :preloads     [devtools.preload]}

        :release
        {:output-dir "docs/js/compiled"
         :compiler-options {:optimizations :advanced}}}}}
