body {
  background-color: #776d6d;
  padding: 10px;
  font-family: arial;
}

#chart4 {
  /* background-color: slategrey; */
  background-color: rgba(0, 0, 0, 0.14);
  /* background-color: #86797d;   */
  border-radius: 10px;
  padding-top: 10px;
}

.ct-vertical, .ct-horizontal {
  font-size: 13px;
  color: #929292;
}

.ct-series-a .ct-line {
  stroke: blue;
  stroke-width: 4px;
}

.ct-series-a .ct-point {
  stroke: red;
  stroke-width: 10px;
}

.ct-series-b .ct-line {
  stroke: Orange;
  stroke-width: 4px;
}

.ct-series-b .ct-point {
  stroke: blue;
  stroke-width: 10px;
}

.ct-series-c .ct-line {
  stroke: #fff;
  stroke-width: 4px;
}

.ct-series-b .ct-point {
  stroke: black;
  stroke-width: 10px;
}
