body {
  background-color: #8a8a8a;
  padding: 20px;
  margin: 0;
  font-family: arial;
}

header {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

header h1 {
  display: block;
  margin: 0 auto;
}

header .author {
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

#chart4 {
  background-color: #bfbfbf;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 50px;
}

.ct-vertical, .ct-horizontal {
  font-size: 13px;
  color: #505050;
}

.ct-series-a .ct-line {
  stroke: blue;
  stroke-width: 4px;
}

.ct-series-a .ct-point {
  stroke: #505050;
  stroke-width: 4px;
}

.ct-series-b .ct-line {
  stroke: Orange;
  stroke-width: 4px;
}

.ct-series-b .ct-point {
  stroke: #505050;
  stroke-width: 4px;
}

.ct-series-c .ct-line {
  stroke: #fff;
  stroke-width: 4px;
}

.ct-series-c .ct-point {
  stroke: black;
  stroke-width: 3px;
}
