body {
  background-color: #2b2b39;
  padding: 20px;
  margin: 0;
  font-family: Arial;
}

header {
  width: 100%;
  text-align: center;
  padding-bottom: 1px;
}

header h1 {
  display: block;
  margin: 0 auto;
  color: lightcoral;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.description {
  color: #656464;
  margin-bottom: 20px;
}

.container {
  position: relative;
}

.header-note {
  padding: 10px 0 10px 5px;
  margin: 10px 0 10px 0;
}

.header-note .row {
  color: #828282;
  font-size: 14px;
  margin: 8px 0 0 0;
}

.header-note .row .highlighted {
  background-color: #5242af;
  display: inline;
  color: #b5b5b5;
  padding: 2px 6px 2px 6px;
}

.graph {
  width: 70%;
  float: left;
}

.graph .title {
  color: #828282;
  font-size: 17px;
  font-weight: bold;
  padding: 0 0 20px 0;
  text-align: center;
}

#stats {
  float: left;
  width: 26%;
  padding-left: 20px;
}

.block-stats {
  display: block;
  background-color: #1b1921;
  border-radius: 12px;
  width: 200px;
  padding: 25px 0 35px 0;
  margin-bottom: 20px;
  min-height: 120px;
}

.block-stats .title {
  color: #828282;
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0;
}

.block-stats .stats {
  color: #FFCC00;
  width: 100%;
  text-align: center;
}

.block-stats .bignum{
  font-size: 5.2em;
  font-weight: bold;
  font-family: arial;
  padding-top: 14px;
}

.block-stats .num {
  font-size: 3.2em;
  font-weight: bold;
  font-family: arial;
  padding-top: 27px;
}

footer {
  clear: both;
  color: #848384;
  font-size: 11px;
  padding: 10px 0 20px 0;
}

footer a {
  color: #ef5e5d;
}

#chart4 {
  display: block;
  background-color: #1b1921;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 13px;
}

#chart5, #chart6 {
  display: block;
  width: 68%;
  background-color: #1b1921;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 13px;
}

#chart7 {
  display: block;
  background-color: #1b1921;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 13px;
}

.ct-vertical, .ct-horizontal {
  font-size: 9px;
  color: #808080;
}

.ct-series-a .ct-line {
  stroke: blue;
  stroke-width: 4px;
}

.ct-series-a .ct-point {
  stroke: rgba(0, 0, 0, 0.0);
}

.ct-series-b .ct-line {
  stroke: Orange;
  stroke-width: 4px;
}

.ct-series-b .ct-point {
  stroke: rgba(0, 0, 0, 0.0);
}

.ct-series-c .ct-line {
  stroke: #fff;
  stroke-width: 4px;
}

.ct-series-c .ct-point {
  stroke: black;
  stroke-width: 3px;
}

.ct-grid {
  stroke: rgba(165, 165, 165, 0.09);
}

.ct-series-a .ct-bar {
  stroke: darkslateblue;
  stroke-width: 15px;
}
